<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
</head>

<body>

    <div class="container">
        <h2> AI Image Analyzer</h2>
        <p> Analyze image using AI</p>

        <div class="buttons" id="mainButtons">
            <button id="takeimagebtn">Take Image</button>
            <button id="uploadImageBtn">Upload Image</button>
        </div>

        <div id="uploadSection" class="hidden">
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*" required>
                <button type="submit">Upload Image</button>
            </form>

        </div>
    </div>


    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>